.icons{
    position: relative;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
    padding-top: 80px;
    padding-left: 30px;
}
.btn{
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 20%;
    box-shadow: 0 5px 15px -5px pink;
    overflow: hidden;
    position: relative;
}
.btn i{
    line-height: 40px;
    font-size: 26px;
    transition: 0.2s linear;
}
.btn:hover i{
    transform: scale(1.5);
}