*{
    padding: 0;
    margin:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.romp{
    position: relative;
}
.romp label{
    position: absolute;
    color: ghostwhite;
    font-size: 3.5em;
    margin: 15px;
    padding-left: 20px;
}
.romp label:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 1.5px orange;
}
.romp label:nth-child(2){
    color: orange;
    animation: animate 2s ease-in-out infinite;
}
@keyframes animate{
    0%,100%{
        clip-path: polygon(1% 42%, 12% 48%, 22% 53%, 33% 57%, 42% 60%, 52% 61%, 62% 56%, 71% 52%, 79% 46%, 87% 41%, 92% 34%, 99% 37%, 100% 99%, 0% 100%);
    }
    50%{
        clip-path: polygon(1% 28%, 11% 34%, 21% 40%, 32% 46%, 43% 50%, 57% 55%, 68% 60%, 80% 59%, 89% 55%, 94% 49%, 99% 44%, 99% 99%, 0% 98%);
    }
}
nav{
    background:purple;
    height: 90px;
    width: 100%;
}
body{
    background-color:ghostwhite;
}
label.name{
    color:ghostwhite;
    font-size: 50px;
    line-height: 90px;
    padding: 0px 120px;
    font-weight: bold;
    font-style: oblique;
}
nav ul{
    float: right;
    margin-right: 40px;
}
nav ul li{
    display: inline-block;
    line-height: 70px;
    margin:0 5px;
}
nav ul li a{
    color:ghostwhite;
    font-size: 20px;
    text-transform: uppercase;
    padding:8px 13px;
    border-radius: 5px ;
}
a:hover{
    background:wheat;
    transition: .5s;
}
a:active{
    background:red;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: wheat;
    float: right;
    line-height: 90px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 952px){
    label.name{
      font-size:27px;
      padding-left: 25px; 
    }
    nav ul li a{
        font-size: 16px;

    }
}

@media (max-width: 858px) {
    .checkbtn{
        display: block;
        margin-right: 20px;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 90px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        background-color: gray;
    }
    nav ul li{
        display: block;
        font-size: 25px;
    }
    nav ul{
        z-index: 9999;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
