*{
    padding: 0;
    margin:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
nav{
    background:purple;
    height: 90px;
    width: 100%;
}
body{
    background-color:ghostwhite;
}
label.name{
    color:ghostwhite;
    font-size: 50px;
    line-height: 90px;
    padding: 0px 120px;
    font-weight: bold;
    font-style: oblique;
}
nav ul{
    float: right;
    margin-right: 40px;
}
nav ul li{
    display: inline-block;
    line-height: 90px;
    margin:0 5px;
}
nav ul li a{
    color:ghostwhite;
    font-size: 20px;
    text-transform: uppercase;
    padding:8px 13px;
    border-radius: 5px ;
}
a:hover{
    background:wheat;
    transition: .5s;
}
a:active{
    background:red;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: wheat;
    float: right;
    line-height: 90px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 952px){
    label.name{
      font-size:27px;
      padding-left: 25px; 
    }
    nav ul li a{
        font-size: 16px;

    }
}

@media (max-width: 858px) {
    .checkbtn{
        display: block;
        margin-right: 20px;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 90px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        background-color: gray;
    }
    nav ul li{
        display: block;
        font-size: 25px;
    }
    nav ul{
        z-index: 9999;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
